 /* traitement du bouton produit*/
 #select{
    text-align: center;
    .addBasket{
        background-color: darkorchid;
        color: white;
    }
  }   
  /* traitement du bouton panier*/
  .button{
    margin-top: 30px;
}