/* traitement du bouton produit*/
#select {
  text-align: center;
}

#select .addBasket {
  background-color: darkorchid;
  color: white;
}

/* traitement du bouton panier*/
.button {
  margin-top: 30px;
}

.button #buttonForm {
  background-color: #6e53b8;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#clearBasket {
  background-color: #6e53b8;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#supprimer {
  background-color: #6e53b8;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#addBasket {
  background-color: #6e53b8;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

/* traitement du formulaire*/
#recapForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#recapForm #form {
  -webkit-box-shadow: 10px 5px 5px #736d79;
          box-shadow: 10px 5px 5px #736d79;
  margin-left: 30px;
  height: 400px;
  border: 2px solid #9776b8;
  border-radius: 5px;
  text-align: center;
  padding-top: 40px;
}

label {
  display: block;
}

/*Traitement du Header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F3EAF2;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}

header nav .haut p {
  margin-right: 20px;
  font-size: larger;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Fredoka One', cursive;
  cursor: pointer;
}

header nav img {
  width: 200px;
  cursor: pointer;
}

/*Traitement du footer */
footer {
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  background-color: black;
  color: blanchedalmond;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer p {
  margin-right: 20px;
  color: blanchedalmond;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e4cce3;
  font-family: 'Noto Serif', serif;
}

body a {
  text-decoration: none;
}

.page {
  width: 100%;
  height: 1000px;
}

h1 {
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #oursons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #oursons .teddie1 {
  max-width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #af7eaf;
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  border-radius: 5px;
  width: 370px;
  height: auto;
  background-color: blanchedalmond;
  margin-top: 10px;
}

main #oursons .teddie1 .name {
  font-weight: bolder;
}

main #oursons .teddie1 .descriptionPrice {
  text-align: center;
}

main #oursons .teddie1 .prix {
  font-weight: bolder;
  text-align: center;
}

main #oursons img {
  max-width: 100%;
  width: 500px;
  height: auto;
  cursor: pointer;
}

#produit {
  max-width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 2px solid #af7eaf;
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  border-radius: 5px;
  width: 550px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: blanchedalmond;
  margin-top: 10px;
}

#produit .name {
  font-weight: bolder;
}

#produit .descriptionPrice {
  text-align: center;
}

#produit .prix {
  font-weight: bolder;
  text-align: center;
}

img {
  max-width: 100%;
  width: 500px;
  height: auto;
  cursor: pointer;
}

/*Page Panier*/
table {
  width: auto;
  height: auto;
  border: 2px solid purple;
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
  margin: 0;
}

table td {
  border: 2px solid purple;
  font-style: italic;
  font-weight: bolder;
}

#totalPrice {
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ddb9e6;
  border: 3px solid blueviolet;
  -webkit-box-shadow: 10px 5px 5px gray;
          box-shadow: 10px 5px 5px gray;
}

/*Responsive */
@media screen and (max-width: 768px) {
  .teddie1 {
    max-width: 768px;
  }
  #recapForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #recapForm #form {
    margin-top: 10px;
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 425px) {
  .teddie1 {
    width: auto !important;
    height: auto !important;
  }
}
/*# sourceMappingURL=main.css.map */