body {
    margin: 0;
    padding: 0;
   background-color:#e4cce3;
   font-family: 'Noto Serif', serif;;
   a{
       text-decoration: none;
   }
}
.page{
   width: 100%;
   height: 1000px;
}

    h1{
        text-align: center;
    }
    
    main{
        display: flex;
        justify-content: center;
        #oursons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .teddie1{
                max-width: 100%;
               justify-content: space-around;
               border:2px solid  rgb(175, 126, 175);
               box-shadow: 10px 5px 5px gray;
               border-radius: 5px;
               width: 370px;
               height: auto;
               background-color: blanchedalmond;
               margin-top: 10px;
               .name{
                   font-weight: bolder;

               }
               .descriptionPrice{
                   text-align: center;
               }
               .prix{
                   font-weight: bolder;
                   text-align: center;
               }
            }
            img{
                max-width: 100%;
                width: 500px;
                height: auto;
                cursor: pointer;
            }
        }
       } 
       #produit{
        max-width: 100%;
        justify-content: space-around;
        border:2px solid rgb(175, 126, 175);
        box-shadow: 10px 5px 5px gray;
        border-radius: 5px;
        width: 550px;
        height: fit-content;
        background-color: blanchedalmond;
        margin-top: 10px;
        .name{
            font-weight: bolder;

        }
        .descriptionPrice{
            text-align: center;
        }
        .prix{
            font-weight: bolder;
            text-align: center;
        }
     }
     img{
         max-width: 100%;
         width: 500px;
         height: auto;
         cursor: pointer;
     }
 
        
    
     /*Page Panier*/
   table{
    width: auto;
    height: auto;
    border: 2px solid purple;
    box-shadow:10px 5px 5px gray;
    margin: 0;
    td{
        border: 2px solid purple; 
        font-style: italic;
        font-weight: bolder;
     }
 }
 #totalPrice{
     margin-top: 10px;
     width: fit-content;
     background-color: rgb(221, 185, 230);
     border:3px solid blueviolet;
     box-shadow:10px 5px 5px gray;
 }
//page confirmation
.confirmation{
    width:auto;
    height:500px;
    footer{
        
    }
}
#total{
width: fit-content;
background-color: #6e53b8;
border:2px solid white;
color: white;
}
/*Responsive */
@media screen and (max-width: 768px){
   .teddie1{
       max-width: 768px;
   }
   #recapForm{
       display: flex;
       flex-wrap: wrap;
       #form{
           margin-top: 10px;
           width: auto;
           height: auto;
       }
   }

}
@media screen and (max-width: 425px){
   .teddie1{
       width: auto !important;
       height: auto !important;
   } 
   
}

  
  