/*Traitement du Header*/

header{
    position: sticky;
    top: 0;
     background-color: #F3EAF2;
         nav{
             display: flex;
             flex-wrap: wrap;
             justify-content: space-between;
             .haut{
                 display: flex;
                 flex-wrap: wrap;
                 margin-top: 25px;
                 p{
                     margin-right: 20px;
                     font-size: larger;
                     align-items: center;
                     font-family: 'Fredoka One', cursive;
                     cursor: pointer;
                 }
 
             }
                     img{
                     width: 200px;
                     cursor: pointer;
                     }
         }
      }
        


