 /*Traitement du footer */
 footer{
    width: 100%;
    margin-top: 20px;
    bottom: 0;
   
    background-color:black;
    color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    #social{
        display: flex;
        justify-content: space-between;
    }
        p{
            margin-right: 20px;
            color: blanchedalmond;
            cursor: pointer;
        }
}
